<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aakash.mathly">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Prime"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".modularexpo" />
        <activity android:name=".modularmultinverse" />
        <activity
            android:name=".History"
            android:label="@string/title_activity_history"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".gcd" />
        <activity android:name=".factors" />
        <activity android:name=".About" />
        <activity android:name=".Sort" />
        <activity android:name=".nCr" />
        <activity android:name=".BigFactorial" />
        <activity android:name=".Totient" />
        <activity android:name=".checkfibonacci"></activity>
    </application>

</manifest>